<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :content %><br>
    <%= f.text_area :content %><br>
    Tags:
  </div>

  <div class="field">
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %><br>
  </div>

  <div class="field">
    <%= f.fields_for :tags, @post.tags.build do |tags| %>
      <%= tags.label :name %>
      <%= tags.text_field :name %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>



describe 'nested form for tag in post', :type => :feature do
it 'can create a post without a new tag' do
visit 'posts/new'
within(all('.field').first) do
fill_in('Name', :with => @post1.name)
fill_in('Content', :with => @post1.content)
end
click_button('Create Post')
expect(page).to have_content(@post1.name)
end

it 'can create a post with a new tag' do
visit 'posts/new'
within(all('.field').first) do
fill_in('Name', :with => @post1.name)
fill_in('Content', :with => @post1.content)
end
within(all('.field').last) do
fill_in('Name', :with => "witty")
end
click_button('Create Post')
expect(page).to have_content("witty")
end
end